/* font-family: 'Lora', serif;
font-family: 'Work Sans', sans-serif; */
/* Farbe: #2e2e2e / #fff / #000 / #1d2c2f */
html{
    font-size: 16px;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}
body{
    margin: 0;
    overflow-x: hidden;
}
#hero{
    font-family: 'Lora', serif;
    text-align: center;
    display: flex;
}
h1{
    font-size: 6rem;
    letter-spacing: 40px;
    font-weight: 400;
    margin: 33vh 0 0 0;
}
h3{
    font-weight: 300;
    margin-bottom: 33vh;
}
.header{
    width: 40%;
}
.cover-img{
    width: 60%;
    background: url(../img/design-interior-1.jpg) center/cover no-repeat;
}
nav{
    background: #2e2e2e;
    height: 11vh;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 85px;
    margin-left: 15px;
}
.links{
    list-style: none;
    width: 90%;
    text-align: right;
    margin-right: 10%;
}
.links a{
    font-size: 1.1rem;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    text-decoration: none;
    padding-left: 13%;
}
nav ul li a:hover{
    text-decoration: underline;
}
.hamburger{
    display: none;
}
.hamburger div:not(.small-nav){
    position: absolute;
    width: 30px;
    height: 5px;
    background: #fff;
    right: 30px;
    z-index: 2;
    transition: transform .5s;
}
.hamburger div:nth-of-type(1){
    top: 25px;
}
.hamburger div:nth-of-type(2){
    top: 35px;
}
.hamburger div:nth-of-type(3){
    top: 45px;
}
.hamburger input{
    position: absolute;
    width: 30px;
    height: 20px;
    right: 27px;
    top: 25px;
    z-index: 3;
    opacity: 0;
}
.hamburger input:checked~.small-nav{
    right: 0;
}
.hamburger input:checked~div:nth-of-type(1){
    transform: rotate(45deg) translate(7px,8px);
}
.hamburger input:checked~div:nth-of-type(2){
    transform: rotate(135deg) translate(1px,0px);
}
.hamburger input:checked~div:nth-of-type(3){
    display: none;
}
.small-nav{
    position: absolute;
    right: -100%;
    height: 100vh;
    background: rgba(0, 0, 0, .9);
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: right .5s;
}
.small-nav a{
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
}
#story{
    padding: 25vh 0 15vh;
    background: #2e2e2e;
    color: #fff;
    display: flex;
}
#story div:nth-of-type(1){
    width: 60%;
    background: url(../img/story.jpg) center/cover no-repeat;
}
#story div:nth-of-type(2){
    width: 40%;
    padding: 2vh 2% 0;
}
h2{
    font-family: 'Lora', serif;
    font-size: 2.2rem;
    font-weight: 300;
}
p{
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 35px;
}
#story h2{
    text-align: center;
}
.break{
    display: block;
    height: 30px;
}
#story p{
    margin-bottom: 15vh;
}
#designs{
    width: 90%;
    text-align: center;
    padding: 25vh 5% 10vh;
}
#designs h2{
    margin-bottom: 10px;
}
#designs>p{
    width: 40%;
    margin: 0 auto 10vh;
}
#designs figcaption p{
    color: #757575;
    margin-top: 0;
}
.galery{
    width: 100%;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 30px;
}
.galery figure{
    width: 100%;
    margin: 0;
}
.galery figure img{
    width: 100%;
}
iframe{
    width: 560px;
    margin: 10vh auto 0;
}
#contact{
    background: #2e2e2e;
    color: #fff;
    display: flex;
    padding: 15vh 7.5%;
}
.touch{
    width: 50%;
}
#contact form{
    width: 50%;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#contact label{
    display: block;
    font-weight: 700;
}
#contact input:not(:last-of-type){
    height: 20px;
    margin-bottom: 25px;
    width: 60%;
    background: #fff;
}
::placeholder{
    font-size: .7rem;
}
#contact textarea{
    height: 35px;
    width: 60%;
    background: #fff;
    margin-bottom: 40px;
}
#contact input:last-of-type{
    width: 15%;
    padding: 5px 0;
    border: 2px solid #fff;
    transition: background .5s, color .3s;
}
#contact input:last-of-type:hover{
    background: #2e2e2e;
    color: #fff;
}
footer{
    height: 11vh;
    background: #1d2c2f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
h4{
    font-family: 'Lora', serif;
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
}
.footer-links a{
    padding-left: 25px;
    color: #fff;
    text-decoration: none;
}
.footer-links a:hover{
    text-decoration: underline;
}
@media (min-width: 768px) and (max-width:979px) {
    .links{
        display: none;
    }
    .hamburger{
        display: block;
    }
    #hero h1{
        font-size: 5rem;
        letter-spacing: 30px;
    }
    .galery{
        display: block;
    }
}
@media (max-width: 767px) {
    .links{
        display: none;
    }
    .hamburger{
        display: block;
    }
    #hero{
        display: block;
    }
    .header{
        width: 100%;
    }
    h1{
        margin-top: 10vh;
        padding-left: 10px;
    }
    #hero h3{
        margin-bottom: 10vh;
    }
    .cover-img{
        height: 40vh;
        width: 100%;
    }
    #story{
        display: block;
        padding: 10vh 0 2vh;
    }
    #story div:nth-of-type(1){
        width: 100%;
        height: 40vh;
    }
    #story div:nth-of-type(2){
        width: 100%;
    }
    #designs p{
        width: 90%;
    }
    .galery{
        display: block;
    }
    iframe{
        width: 100%;
    }
    #contact{
        display: block;
    }
    .touch{
        width: 100%;
    }
    #contact form{
        width: 100%;
    }
    #contact form input:last-of-type{
        width: 30%;
    }
    footer{
        display: block;
        height: 30vh;
        text-align: center;
        padding-top: 5vh;
    }
}